<template>
  <el-dialog
    :title="titleDialog"
    :visible="showDialog"
    @close="close"
    @open="create"
  >
    <form autocomplete="off" @submit.prevent="submit">
      <div class="form-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-danger': errors.documento }">
              <label class="control-label">Número</label>
              <el-input v-model="form.documento" :maxlength="11" dusk="number">
              </el-input>
              <small
                class="form-control-feedback"
                v-if="errors.documento"
                v-text="errors.documento[0]"
              ></small>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="form-group"
              :class="{ 'has-danger': errors.name_customer }"
            >
              <label class="control-label">Nombre de la Empresa</label>
              <el-input v-model="form.name_customer"></el-input>
              <small
                class="form-control-feedback"
                v-if="errors.name_customer"
                v-text="errors.name_customer[0]"
              ></small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              class="form-group"
              :class="{ 'has-danger': errors.subdominio || errors.uuid }"
            >
              <label class="control-label">Nombre de Subdominio</label>
              <el-input v-model="form.subdominio" dusk="subdominio">
                <template slot="append">{{ url_base }}</template>
              </el-input>
              <small
                class="form-control-feedback"
                v-if="errors.subdominio"
                v-text="errors.subdominio[0]"
              ></small>
              <small
                class="form-control-feedback"
                v-if="errors.uuid"
                v-text="errors.uuid[0]"
              ></small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-danger': errors.email }">
              <label class="control-label">Correo de Acceso</label>
              <el-input
                v-model="form.email"
                :disabled="form.id != null"
              ></el-input>
              <small
                class="form-control-feedback"
                v-if="errors.email"
                v-text="errors.email[0]"
              ></small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-danger': errors.password }">
              <label class="control-label">Contraseña</label>
              <el-input v-model="form.password"></el-input>
              <small
                class="form-control-feedback"
                v-if="errors.password"
                v-text="errors.password[0]"
              ></small>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions text-right mt-4">
        <el-button @click.prevent="close()">Cancelar</el-button>
        <el-button type="primary" native-type="submit" :loading="loading_submit"
          >Guardar</el-button
        >
      </div>
    </form>
  </el-dialog>
</template>
<script>
export default {
  props: ["showDialog", "recordId"],
  data() {
    return {
      loading_submit: false,
      titleDialog: null,
      resource: "clients",
      url_base: null,
      errors: {},
      form: {},
    };
  },
  created() {
    this.initForm();
    this.$http.get(`/${this.resource}/url_base`).then((response) => {
      this.url_base = response.data.url_base;
    });
  },
  methods: {
    initForm() {
      (this.errors = {}),
        (this.form = {
          id: null,
          documento: null,
          name_customer: null,
        });
    },
    create() {
      this.titleDialog = this.recordId ? "Editar Cliente" : "Nuevo Cliente";
      if (this.recordId) {
      }
    },
    close() {
      this.$emit("update:showDialog", false);
      this.initForm();
    },
    submit() {
      this.loading_submit = true;
      this.$http
        .post(`${this.resource}`, this.form)
        .then((response) => {
          if (response.data.success) {
            this.$message.success(response.data.message);
            this.$eventHub.$emit("reloadData");
            this.close();
          } else {
            this.$message.error(response.data.message);
          }
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data;
          } else if (error.response.status === 500) {
            this.$message.error(error.response.data.message);
          } else {
            console.log(error.response);
          }
        })
        .then(() => {
          this.loading_submit = false;
        });
    },
    close() {
      this.$emit("update:showDialog", false);
      this.initForm();
    },
    searchSunat() {
      this.searchServiceNumber();
    },
  },
};
</script>
