<template>
  <div>
    <div class="page-header pr-0">
      <h2>
        <a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a>
      </h2>
      <ol class="breadcrumbs">
        <li class="active"><span>Clientes</span></li>
      </ol>
      <div class="right-wrapper pull-right">
        <button
          type="button"
          class="btn btn-custom btn-sm mt-2 mr-2"
          @click.prevent="clickCreate()"
        >
          <i class="fa fa-plus-circle"></i> Nuevo
        </button>
      </div>
    </div>
    <div class="card mb-0">
      <div class="card-body">
        <div class="card-header bg-info">
          <h3 class="my-0">Listado de clientes</h3>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Hostname</th>
                <th>RUC</th>
                <th>Empresa</th>
                <th>Correo</th>
                <th class="text-center">F.Creación</th>
                <th class="text-right">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(row, index) in list">
                <td>{{ index + 1 }}</td>
                <td>{{ row.hostname }}</td>
                <td>{{ row.number }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.email }}</td>
                <td>{{ row.created_at }}</td>
                <td class="text-right">
                  <button
                    type="button"
                    class="btn waves-effect waves-light btn-xs btn-danger"
                    @click.prevent="clickDelete(row.id)"
                    v-show="row.id != 1"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <clients-form
        :showDialog.sync="showDialog"
        :recordId="recordId"
      ></clients-form>
    </div>
  </div>
</template>
<script>
import ClientsForm from "./form.vue";
import { deletable } from "../../mixins/deletable";
export default {
  mixins: [deletable],
  components: { ClientsForm, deletable },
  data() {
    return {
      showDialog: false,
      resource: "clients",
      recordId: null,
      list: [],
    };
  },
  created() {
    this.getdata();
  },
  methods: {
    clickCreate(recordId = null) {
      this.recordId = recordId;
      this.showDialog = true;
    },
    getdata() {
      this.$http.get(`/${this.resource}/records`).then((response) => {
        this.list = response.data.data;
      });
    },
    clickDelete(id) {
      this.destroy(`/${this.resource}/${id}`).then(() =>
        this.$eventHub.$emit("reloadData")
      );
    },
  },
};
</script>
